body, html{
    margin: 0;
    padding: 0;
    background-color: #aaa;
}

.max-width {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display {
    background-color:#2c2e43;
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    color: #fff;
    font-size: 7rem;
    border: 10px solid #ffd523;
    font-family: 'Qahiri', sans-serif;
}

button {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    border: none;
    
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.1em;
    transition: all .5s;
    cursor: pointer;
    border-radius: 25px;
    flex-direction: row;
}

button:hover {
    background-color: #a1c0d1;
}

button:active {
    background-color: #111;
}

.bg-green {
    
    background-color: #b2d1a1;
}

.bg-yellow {
    background-color: #d1cba1;
}

.bg-red {
    background-color: #d1a1a1;
}

